@import "tailwindcss";

@theme {
  --font-display: "Outfit", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

.font-serif {
  font-family: var(--font-serif);
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 700;
}

.font-display {
  font-family: var(--font-display);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}
